/*! NOTE: These are just recommended default global styles, edit as required */

::selection { /* Optional */
  /* It can be really hard to read highlighted text with a text-shadow, it should be removed when selected */
  text-shadow: none;
  
  /* NOTE: Using this means the color and background-color are set to transparent for selected text... */
  /* So you can customise your styles below */
  color: #fff;
  background-color: #00f;
}

html {
  /* Make base font-size 100% of browser font-size */
  font-size: 100%;
  scrollbar-gutter: stable; 
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; /* Smoothly animate to different sections within a page, only if the user doesn't mind animations */
  }
}

*,
*::before,
*::after,
html {
  /* Declare your box-sizing here
  /* https://css-tricks.com/box-sizing */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* outras opções - content-box */
}

body {
  /* Declare your default font stack here */
  font-family: "Font Stack", sans-serif, serif, monospace, cursive, fantasy;
  /* outras opções - serif, monospace, cursive, fantasy */

  /* Better text rendering - font-smoothing has not been officially declared, but can still be useful */
  text-rendering: geometricPrecision;
  /* outras opções -optimizeLegibility | optimizeSpeed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  /* For responsive images that adjust & adapt */
  height: auto;
  max-width: 100%;
  
  /* This isn't needed, but as a user, I get frustrated when I highlight text and the image gets highlighted too */
  user-select: none;
  pointer-events: none;
}

button {
  color: inherit; /* By default, buttons don't inherit the font colour, this is a useful default to override */
}

a, button {
  touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
}

svg {
  /* Make the SVGs fit the parent container by default */
  height: 100%;
  width: 100%;
  
  /* Optional - make the SVG's fill be the same as the inherited color */
  fill: currentColor;
  
  /* Prevent the SVG from altering cursor interaction */
  pointer-events: none;
}

iframe, video {
  /* Make iframes & videos fit the parent container by default */
  height: 100%;
  width: 100%
}

/**************************************************
***************************************************
*********** YOUR STYLES GO AFTER THIS *************
***************************************************
***************************************************/


/* EL DEBUGGING */

/* * {
  outline: 1px solid red;
} */

/* .hero-title {
  outline: 2px solid blue;
} */



:root {

  --header-height: 4rem; 
  --banner-height: 35vw;

  /* TITLES, TEXT, LINES */
  --primary-color: #01151D;

  /* Primary - BACKGROUND,  */
  --secondary-color: #F0EFED;

  /* Secondary - LINKS, SVG ELEMENTS, Button */
  --pop-color: #0B12EE;  

  --font-weight-regular: 400;
  --font-weight-bold: 500;

  /*----- z index -----*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /* Lines */
  --border-color: color-mix(in srgb, var(--primary-color) 50%, transparent);
  --border-line: 2px solid var(--border-color);

  --border-color: color-mix(in srgb, var(--primary-color) 30%, transparent);
  --border-line-thin: 2px solid var(--border-color);

  --border-color-light: color-mix(in srgb, var(--secondary-color) 50%, transparent);
  --border-line-light: 2px solid var(--border-color-light);

  /* Paddings */
  --footer-padding: 5rem;

  --padding-XS: 0.25rem;
  --padding-S: 0.5rem;
  --padding-M: 1rem;
  --padding-L: 2rem;
  --padding-XL: 3rem;

}


body {
  font-family: "Bricolage Grotesque", Helvetica, Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

small{
  font-size: 0.875rem;
}

strong {
  font-weight: var(--font-weight-bold);
}

ul {
  list-style: none;
}

h1 {
  font-family: "Bricolage Grotesque", Helvetica, Arial, sans-serif;
  letter-spacing: -0.04em;
}

h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  color: var(--primary-color);
  text-decoration: none;
}

header a.active,
footer a.active,
header a:active,
footer a:active,
header a:hover,
footer a:hover {
  color: blue;
}


/* a:hover, a:active, a.active {
  color: var(--pop-color);
} */


/***Spacing***/

.space-S{
  height: 30px;
}

.space-M{
  height: 60px;
}

.space-L{
  height: 90px;
}

.space-XL{
  height: 120px;
}


/* h Text scaling */

h1 { font-size: 3.5rem; font-weight: 500; }
h2 { font-size: 2rem; font-weight: var( --font-weight-regular); }
h3 { font-size: 1.75rem; font-weight: var( --font-weight-regular); }
h4 { font-size: 1.375rem; font-weight: var( --font-weight-regular); }
h5 { font-size: 1.125rem; font-weight: var( --font-weight-regular); }
h6 { font-size: 0.9rem; font-weight: var( --font-weight-regular); }

.subtitle {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Bricolage Grotesque", Helvetica, Arial, sans-serif;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.subtitle-small {
  font-family: "Bricolage Grotesque", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

.lowercase {
  text-transform: lowercase;
}

.light-text {
  opacity: 60%;
}

p {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: -0.05rem;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
  letter-spacing: -0.05rem;
}

/* body header, body main, body footer {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding 0 16px;
} */

/* Scrollbar style */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}

.pageWidth {
  width: 100%;
  margin: 0 auto;
}

.top-padding {
  margin-top: var(--header-height);
}


/*id for header styling*/
#topHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--secondary-color);
  z-index: var(--z-fixed);
}

#mainMenu {
  height: var(--header-height);
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 var(--padding-M);
  background-color: var(--secondary-color);
  border-bottom: var(--border-line);
}

/* Header Styles */

.nav__burger
.nav__close {
  color: var(--primary-color);
}

.navAction {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-right: var(--border-line);
  border-left: var(--border-line);
}


#headerLOGO {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

#headerLOGO a {
  display:flex;
  align-items: center;
}

#headerLOGO img {
  height: 1.5rem;
  margin-right: 1rem;
}

.nav__toggle {
  position:relative;
  height: 32px;
  width: 32px;
}

.nav__burger,
.nav__close{
  position:absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin:auto;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity .3s, transform .4s;
  caret-color: transparent;
}

.nav__close{
  opacity: 0;
}

/*HEADER navigation for MOBILE*/

body.is-resizing .nav__menu {  /*Classe .is-resizing para o body, esta classe é ativada com o js, durante o resize da janela*/ 
  transition: none !important;
}

@media screen and (max-width: 991px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: var(--header-height);
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    z-index: -1;

/*Mobile Menu Animation*/
    transform: translateY(-100%);
    transition:
      transform 300ms ease;
  }

  /* Show menu */ 
  .nav__menu.show-menu {
    transform: translateY(0);
    opacity: 1;
    pointer-events: initial;  
  }

  #mainMenu {
    border-bottom: var(--border-line);
  }

  .navAction {
    padding: 0 1rem;
  }

  .pageWidth {
    padding: 0;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0;
  }

  .nav__link {
    border-bottom: var(--border-line);
    padding: var(--padding-M) var(--padding-L);
  }
}

.nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-left: var(--border-line);
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  background-color: var(--secondary-color);
}

.nav__link:hover {
  color: var(--pop-color);
}

.nav__menu.show-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}



/*navigation for desktop*/
@media screen and (min-width: 992px) {
  #topHeader {
    margin-inline: auto;
    border-bottom: var(--border-line);
    height: calc(var(--header-height));
  }

  #mainMenu {
    height: calc(var(--header-height));
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    height:100%;
    display: flex;
  }

  .nav__link {
    padding: 0 var(--padding-L);
  } 

  .nav__list li:last-child {
    border-right: var(--border-line);
  }

  .nav__link:hover {
    background-color: transparent;
  }
}

/*--------------------------------------------*/
/*---------------MAIN CONTENT-----------------*/
/*--------------------------------------------*/

#mainContent {
  margin-top:var(--header-height)!important;
}

.rail {
  width: 100%;
  display: flex;

  border-bottom: var(--border-line);
  border-top: var(--border-line);
}

.button-text {
  display: flex;
  width: max-content;
  gap: 1rem;
  align-items: center;
  padding: var(--padding-M) var(--padding-XL);

  text-transform: uppercase;  
  color: var(--primary-color);
  border-right: var(--border-line);
  border-left: var(--border-line);
}

.button-text.light {
  color: var(--secondary-color);
  border-right: var(--border-line-light);
  border-left: var(--border-line-light);
}

.rail.light {
  background-color: var(--primary-color);
  border-bottom: var(--border-line-light);
  border-top: var(--border-line-light);
}

.rail.side {
  justify-content: flex-start;
  width: 100%;
}

.rail.center {
  justify-content: center;
  width: 100%;
}

.minus-top {
  border-top: none !important;
}

.back {
  position: fixed;
  top: 0;
  z-index: 10;

  margin-top: var(--header-height);
  border-top: none !important;
}

.container-margin {
  width: 100%;
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 var(--padding-M);
}

.project-container-margin {
  width: 100%;
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 var(--padding-M);
}

/*para utilizadores com ecrãns abaixo de 355px (base de utilizadores crucial)*/
@media screen and (max-width: 355px) { 
 .hero-title.mobile {
    font-size: clamp(0rem,20vw, 5rem); 
    font-weight: 350;
  }
}

/*Hero Desktop display*/
@media screen and (min-width: 992px) {
  #mainContent {
    margin-top: calc(var(--header-height));
  }
  
  .hero-nav.mobile {display: none;}
}



/*MOBILE display*/

/*HERO SECTION STYLES*/
  
.hero-nav.desktop div:first-child {
  transform: translateX(-8px);
}

.hero {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  padding-top: calc(var(--header-height));
  max-width: 1680px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin: 0 auto; 
}

.hero-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.hero-title,
.project-hero-title {
  font-weight: 350;
  margin: 0;
  line-height: 0.75;
  display: inline-block;
  pointer-events: none;
}

.hero-title {
  font-size: 8rem;
}

.doodle-text {
  width: 24rem;
  height: 100%;
  user-select: none;
}

.doodle-container {
  width: 100%;
  display: flex;
  padding-right: 8rem;
  align-items: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-title-container {
  width: 100%;
  margin-block: -1.2rem;
}

.hero-title-container > a {
  display: inline-block;
  line-height: 0;
  pointer-events: auto;
}

.doodle-star {
  user-select: none;
  transform: translateY(-4px);
}

/*-----Projects-----*/

.page-top-padding {
  padding-top: var(--header-height);
}

.projects-page #projects-preview {
  padding-top: calc(var(--header-height) + var(--padding-L) + 0.2rem) !important;
}

#projects-preview { /* Section */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  /* padding: 2rem; */
  padding: var(--padding-L) 0;
  background-color: var(--primary-color);
}

#projects-preview > h2 {
  text-align: center;
  color: var(--secondary-color);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 var(--padding-M);
  max-width: 1680px;
  /* padding: 0 1rem 0 1rem; */
  /* transform: translateY(-2rem); */
}

.project-card {
  aspect-ratio: 4 / 3;
  overflow: visible;
  border-radius: 5rem;
  position: relative;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* -------- PROJECT INFO --------- */

.project-card-info {
  display: none;
  position: absolute;
  pointer-events: none;

  top: 0;
  width: max-content;

  border: var(--border-line);
  background-color: var(--secondary-color);
}

.project-card:hover .project-card-info {
  display: inline-flex;
  flex-direction: column;

  width: max-content;
  transform: translateY(-100%);
  z-index: 5;
}

.project-card-title-container {
  padding: 0 var(--padding-S);
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.project-card-title {
  display: block;
  padding: var(--padding-S) var(--padding-L);
  width: 100%;

  text-align: center;
  white-space: nowrap;

  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-left: var(--border-line);
  border-right: var(--border-line);
}

.tag-container :nth-child(3).tag-info {
  border-right: var(--border-line-light);
}

.tag-container {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

.tag {
  flex: 1 1 auto; 

  text-align: center;
  padding: var(--padding-S) var(--padding-M);

  white-space: nowrap;
  box-sizing: border-box;

  text-transform: lowercase;
  letter-spacing: -0.05rem;
  font-weight: 500;
}

.tag-graphic {
  background-color: #FFD400;
  color: var(--primary-color);
}

.tag-motion {
  background-color: #0A8DFF;
  color: var(--primary-color);
}

.tag-branding {
  background-color: #5fff3f;
  color: var(--primary-color);
}

.tag-spacial {
  background-color: #ff941b;
  color: var(--primary-color);
}

.tag-editorial {
  background-color: #33C7FF;
  color: var(--primary-color);
}

.tag-experimental {
  background-color: #ff35ff;
  color: var(--primary-color);
}

.tag-uiux {
  background-color: #dc2bff;
  color: var(--primary-color);
}

.tag-info {
  border-left: var(--border-line-light);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* -------- PROJECT SHOWCASE --------- */ /* (Tag styles found above) */ 

#project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--banner-height); 
  gap: var(--padding-L);

  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#project-showcase-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#project-title-container {
  padding: var(--padding-L) var(--padding-XL);
  border: var(--border-line-light);
}

.project-hero-title {
  font-size: clamp(2.5rem, 16vw, 8rem);
  max-width: 10ch;
  overflow-wrap: break-word;
}

.project-banner {
  position: fixed;
  z-index: -1;
  top: 0;

  width: 100%;
  height: var(--banner-height);
  object-fit: cover;
}

#about-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-M);

  padding: var(--padding-L) var(--padding-XL);
  border-right: var(--border-line-light);
  border-left: var(--border-line-light);
}

#about-container h5 {
  max-width: 28rem;
  font-family: 'Bricolage Grotesque', Helvetica, Arial, sans-serif;
  font-weight: 350;
}

#about-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
}

#project-container img {
  display: block;
  margin: 0;
}

#project-dev-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
  padding: var(--padding-M) var(--padding-XL);
  
  border-right: var(--border-line-light);
  border-left: var(--border-line-light);
}

.doodle-icon { 
  width: 2.5rem;
}

.doodle-icon-small { 
  width: 1.5rem;
}

.recommended-project-container {
  position: relative;
  z-index: 4;
}

#recommended-project {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
  gap: 8vw;
  padding: var(--padding-M) var(--padding-XL);
  height: 12rem;
  z-index: 1;
  
  border-right: var(--border-line-light);
  border-left: var(--border-line-light);
}

#doodle-recommend {
  position: relative;
  height: 80%;
  z-index: 4;
}

#doodle-recommend-mobile {
  display: none;
}

#recommended-project img:last-child {
  height: 100%;
  transform: scale(1.35) rotate(2deg);
  border-radius: 0.2rem;
  border: var(--border-line);
}

/* -------- ABOUT ME --------- */

#about-me-page {
  width: 100%;
  background-color: var(--secondary-color);
}

.about-me-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22rem;
  gap: var(--padding-XL);
  padding: var(--padding-XL) var(--padding-L);
  border-right: var(--border-line);
  border-left: var(--border-line);
}

.about-me-image {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

#portrait-images {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: 100%;
}

#portrait-images img {
  border-radius: 0.2rem;
  border: var(--border-line);
}

#secondary-1 {
  transform: scale(1.1) rotate(-1deg) translateX(-0.5rem);
  aspect-ratio: 3 / 4.5;
}

#main-portrait {
  transform: scale(1.5) rotate(2deg);
}

#secondary-2 {
  transform: scale(1) rotate(-2deg);

}

.about-me-text {
  display: flex;
  flex-direction: column;
  gap: var(--padding-L);
  max-width: 30vw;
  min-width: 390px;
}

.about-me-text p {
  max-width: 450px;
}

.title-with-icon {
  display: flex;
  align-items: center;
  gap: var(--padding-L);
}



.about-info-container {
  display: flex;
  border-right: var(--border-line);
  border-left: var(--border-line);
}

.about-box {
  padding: var(--padding-L);
}

.interests-skills-column {
  display: flex;

  width: max-content;
  flex-direction: column;
  border-right: var(--border-line);
}

.interests-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 20rem;
  gap: var(--padding-S);
  margin-top: var(--padding-L);
}

.interest-single {
  display: inline;
  padding: 0.2rem 1rem;

  border: var(--border-line-thin);
  border-radius: 999px;
  white-space: nowrap;
}

.interests-box, .skills-box {
  flex: 1;
}

.skills-box {
  display: flex;
  flex-direction: row;
  gap: clamp(4vw, 8vw, 1rem);
  border-top: var(--border-line);
  padding-bottom: 5rem;
}

.soft-skills p {
  font-style: italic;
}

.soft-skills {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}

.education-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 525px;
}

.skills-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-L);
}

.software-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--padding-S);
}

.software-icons img {
  width: 4rem;
}

.education-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-XS);
  margin-top: var(--padding-XL);
}

.school-info {
  display: flex;
  flex-direction: column;
  gap: var(--padding-XS);
}

.school-logo {
  width: 5rem;
  height: auto;
  flex-shrink: 0;
}

.school-name {
  font-style: italic;
}

#ipl-logo {
  width: 4rem;
}

.doodle-icon {
  width: 2rem;
}

.education-box .education-item:nth-child(2) {
  margin-top: var(--padding-L);
}

/*-----Contact page-----*/

#contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  user-select: none;
}

.email-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  
}

.email-box .footer-underline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  user-select: none;
}

.email-box h2 {
  user-select: text;
  cursor: text;
}



/*-----Footer-----*/

.footer { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: var(--padding-XL);
  z-index: -1;

  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.footer { 
  text-transform: uppercase;
  letter-spacing: -0.05rem;
}

.footer-email.desktop {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 var(--padding-XL);
  border-right: var(--border-line);
  border-left: var(--border-line);
  letter-spacing: -0.05rem;
  font-family: 'Bricolage Grotesque', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.footer-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*Padding random do footer*/

.footer-item:nth-child(1) { 
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.footer-item:nth-child(2) {
  padding-left: calc(var(--footer-padding) + 3vh); /*Projects*/
}

.footer-item:nth-child(3) {
  padding-left: calc(var(--footer-padding) + 1vh); /*Contacts*/
}

.footer-item:nth-child(4) {
  padding-left: calc(var(--footer-padding) + 6vh); /*About Me*/
}
/*--------------------------*/

.footer-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  background: var(--secondary-color);
  border-bottom: var(--border-line);
}

.footer-item  {
  padding-left: calc(var(--footer-padding) + 3rem);
}

.footer-item:first-child {
  border-top: var(--border-line);
}

/* .footer-item a {
  display: inline-block;
  padding: 1rem 3rem;

  color: var(--primary-color);
  border-right: var(--border-line);
  border-left: var(--border-line);
} */

.footer-info {
  width: 100%;
  margin-top: 3rem;
  padding: 0.3rem;
  border-top: var(--border-line);
}

/* .footer p:last-child { 
  display: inline-block;
  width: 100%;
  font-size: 0.8rem;
  opacity: 80%;
  padding: 0.2rem 2rem;
  border-bottom: var(--border-line);
} */   /*legal & date footer info*/

.footer-underline {
  transform: translateY(-8px)
}

.footer-underline.desktop {
  position: absolute; 
  right: 0;
  bottom: -1px;
  transform: rotate(1deg);
}

.footer-contact {
  display: none;
}

.footer-contact-paper {
  width: 450px;
  position: absolute;
  bottom: 0;  
  right: 5rem;
  transform: translateY(60%) rotate(2deg);
}

/*--- Processing ---*/

.processingCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#defaultCanvas0 {
  transform: rotate(2deg);
  border-radius: 0.5rem;
  border: var(--border-line); 
}

/*--------------------------------------------*/
/*-----------MEDIA QUERIES (MOBILE)-----------*/
/*--------------------------------------------*/

@media screen and (max-width: 1200px) {
  #portrait-images {
    height: 18vw;
    gap: 2rem;
  }
  
  .about-me-container {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 1150px) {
  .navAction strong {
    font-size: 1.5rem;
  }

  .about-me-text p {
    padding-right: 0;
  }
}


/* @media screen and (max-height: 900px) {
  .doodle-text {
   height: 200px;
  }
} */

@media screen and (max-width: 1100px) {
  .software-icons {
    display: inline-grid;  
    grid-template-columns: repeat(2, auto);
    gap: var(--padding-S);
    justify-content: start;
  }
}

@media screen and (max-width: 992px) {
  .hero-nav.desktop {display: none;}

  .hero {
    padding: 8vh 0;
  }

  .hero-nav.mobile {
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: min(5vh, 0.5rem);
    min-height: 90vh;
    line-height: 4rem;
    padding: 0 1vh;
  }

  .hero-title.mobile,
  .doodle-star {
    flex: 0 0 auto;
  }

  .hero-title.mobile {
    font-size: clamp(0rem, 20vw, 5rem); /*para utilizadores com ecrãns abaixo de 355px (base de utilizadores crucial)*/
    font-weight: 350;
  }

  .doodle-star {
    user-select: none;
  }

  /* .hero-title-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-block: -0.3rem;
    padding: 0 auto;        
  } */

  .doodle-text {
    flex: 1 1 0;
    min-height: 0;
    max-height: 100%;
    width: auto;
    object-fit: contain;
  }

  .doodle-container {
    width: 80%;
    padding: 0;
    display: flex;
    justify-content: center !important;
  }

  /*Projects-grid - MOBILE*/

  #projects-preview {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    min-height: 100vh;
    margin-top: var(--header-height);
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  /*Footer - MOBILE*/

  .footer {
    justify-content: space-between;
    gap: 3vh;
  }

  .footer-email.desktop {
    display: none;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-bottom: 3vh;
  }

  .footer-contact img {
    width: 80%;
  }

  .footer-contact-paper {
    display: none;
  }

  .footer-item {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--secondary-color);
    border-bottom: var(--border-line);
  } 

  .footer-item:nth-child(1) { 
    display: flex;
    justify-content: center;
    padding: 0 2rem;
  }  

  .footer-item:nth-child(2) {
    padding-left: calc(var(--footer-padding) + 1vw); /*Projects*/
  }

  .footer-item:nth-child(3) {
    padding-left: 0rem; /*Contacts*/
  }

  .footer-item:nth-child(4) {
    padding-left: calc(var(--footer-padding) + 2vw); /*About Me*/
  }

  /* Project Showcase - MOBILE */ 
  .project-container-margin {
    width: 100%;

    max-width: 1680px;
    padding: 0;
  }

  #recommended-project {
    height: 26vw;
  }

  /* ABOUT ME - MOBILE */
  #secondary-2 {
    display: none;
  }

  .about-me-container {
    padding-right: 4rem;
  }

  .about-info-container {
    flex-direction: column;
  }

  .interests-skills-column {
    display: flex;

    width: 100%;
    flex-direction: row;
    border-right: none;
    border-bottom: var(--border-line);
  }

  .interests-box {
    border-right: var(--border-line);
    flex: 0.6;
  }
  
  .software-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--padding-XS);
  }

  .skills-box {
    border-top: none;
    border-right: none;
    padding-bottom: var(--padding-L);
    justify-content: space-between;
  }

  #about-sparkle {
    transform: translateY(3rem) translateX(-5rem);
  }

  .skills-content {
    flex-direction: column;
  }
}



@media screen and (max-width: 720px) {
    /* Processing */

  #defaultCanvas0 {
    width: 150vw;
    aspect-ratio: 720 / 400;
    height: auto;
    display: block;
    transform: translateY(2rem) rotate(91deg);
  }

  .processingCenter {
    padding: 1rem;
  }

  /* About me */
  .about-me-text {
    display: flex;
    flex-direction: column;
    gap: var(--padding-L);
    max-width: 100%;
    min-width: 0px;
  }

  .interests-skills-column {
    display: flex;

    width: 100%;
    flex-direction: column;
    border-right: none;
    border-bottom: var(--border-line);
  }

  .interests-box {
    border-right: none;
    border-bottom: var(--border-line);
    flex: 0.6;
  }

  .education-box {
    width: 100%;
  }
  

  .about-me-container {
    padding-bottom: 0;
  }

  .about-me-container,
  .about-info-container,
  .skills-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: max-content;
  }

  .about-me-image {
    max-width: none;
    width: 8rem;
  }
  
  #portrait-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    height: max-content;

    margin-left: 5vw;
  }

  #portrait-images img {
    height: 8rem;
    width: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }

  #secondary-1 {
    display: inline-block;
    transform: scale(1.2) translateY(0.5rem) translateX(-1rem) rotate(-2.5deg);
  }

  #secondary-2 {
    display: inline-block;
    transform: translateY(-1rem) translateX(1.2rem) rotate(-2deg);
  }
  

  #about-sparkle {
    transform: none;
    width: 8vw;
  }
}

@media screen and (max-width: 576px) {
  #project-title-container {
    padding: var(--padding-L) var(--padding-L);
  }
  #about-container {
    padding: var(--padding-L) var(--padding-L);
  }

  .about-me-text {
    max-width: 100%;
  }

  .about-me-text p {
    text-wrap: wrap;
    width: 100%;
  }

  #project-dev-container {
    padding: var(--padding-M) var(--padding-L);
  }

  .education-box {
    min-width: 300px;
  }

  .education-item {
    display: flex;
    flex-direction: row;
  }

  .education-item h6{
    margin-bottom: var(--padding-XS);
  }

  .education-item img {
    margin-left: 8vw;
  }

  /* #recommended-project {
    flex-direction: row;
    height: auto;
    gap: 2rem;
    padding: 0rem 4rem;
    padding-bottom: 2rem;
  }
  
  #doodle-recommend {
    display: none;
  } */


  .doodle-icon {
    width: 2rem;
  }

  .doodle-icon-small {
    width: 1rem;
  }

  /* #recommended-project img:last-child,
  #doodle-recommend-mobile {
    display: inline-block;
    width: 60%;
    height: auto;
    aspect-ratio: 1 / 0.8;
  }

  #doodle-recommend-mobile {
    width: 70%;
    transform: rotate(6deg);
  }

  #recommended-project img:last-child {
    transform: scale(1.35) rotate(2deg);
    border-radius: 0.2rem;
    border: var(--border-line);
  } */

  .subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Bricolage Grotesque", Helvetica, Arial, sans-serif;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
  .education-box {
    padding: var(--padding-L) 6vw;
  }

  .interests-box {
    padding-top: var(--padding-L);
    padding-bottom: var(--padding-L);
    padding-right: 0vw;
    padding-left: 6vw;
  }

  .skills-box {
    padding: var(--padding-L) 6vw;
  }

  .skills-content {
    min-width: 12vw;
  }

  .skills-content .title-with-icon {
    gap: 0.5rem;
  }

  .skills-content .title-with-icon .doodle-icon {
    transform: translateY(0.2rem) translateX(-0.8rem);
  }

  .software-icons img {
    width: 45%;
  }
}
